%h1
  = "Login"
%hr
-if($message)
  %h4.text-center
    Wrong credentials.
%form.row.text-center{"method"=>"POST", "action" => "#{$controller->getPath("Site","postLogin",false)}", "role" => "form"}
  .row.form-group.col-md-4.col-md-offset-4
    %input.form-control{"required" =>"true", "type" => "text", "placeholder" => "Username", "name" => "email"}
  .row.form-group.col-md-4.col-md-offset-4
    %input.form-control{"required" =>"true", "type" => "password", "name" => "password", "placeholder" => "Password"}
  .row.form-group.col-md-4.col-md-offset-4
    %input.btn.btn-success{"type" => "submit", "value" => "login"}
