%h1
  = "Login"
%hr
-if($message)
  %h4.text-center
    Wrong credentials.
%form{"method"=>"POST", "action" => "#{$controller->getPath("Site","postLogin",false)}"}
  %label.control-label Email
  %input{"required" =>"true", "type" => "textbox", "placeholder" => "john@doe.com", "name" => "email"}
  %hr
  %label.control-label Password
  %input{"required" =>"true", "type" => "password", "name" => "password"} 
  %hr
  %input.btn.btn-success{"type" => "submit", "value" => "login"}