%h1
  = "Register"
%hr
-if($message)
  %h4.text-center
    This email has already been used.
%form.row.text-center{"method"=>"POST", "action" => "#{$controller->getPath("Site","postRegister",false)}"}
  .row.form-group.col-md-4.col-md-offset-4
    %input.form-control{"required" =>"true", "type" => "textbox", "placeholder" => "First Name", "name" => "firstName"}
  .row.form-group.col-md-4.col-md-offset-4
    %input.form-control{"required" =>"true", "type" => "textbox", "placeholder" => "Last Name", "name" => "lastName"}
  .row.form-group.col-md-4.col-md-offset-4
    %input.form-control{"required" =>"true", "type" => "textbox", "placeholder" => "Email", "name" => "email"}
  .row.form-group.col-md-4.col-md-offset-4
    %input.form-control{"required" =>"true", "type" => "password", "name" => "password", "placeholder" => "Password" } 
  .row.form-group.col-md-4.col-md-offset-4
    %input.form-control{"type" => "textbox", "placeholder" => "Profile Picture Path", "name" => "profilePicturePath"}
  .row.form-group.col-md-4.col-md-offset-4
    %input.btn.btn-success{"type" => "submit", "value" => "Register"}
