!!!
%html
  %head
    %link{"rel" => "stylesheet", "type" => "text/css", "href" => "/assets/stylesheets/bootstrap.min.css"}
    %link{"rel" => "stylesheet", "type" => "text/css", "href" => "/assets/stylesheets/bootstrap-theme.min.css"}
    %link{"rel" => "stylesheet", "type" => "text/css", "href" => "/assets/stylesheets/main.css.scss"}
    %title El Msl7a
  %body
    = $layoutContent
    %script{"src" => "/assets/javascript/bootstrap.min.js"}
    %script{"src" => "/assets/javascript/jquery-2.1.1.min.js"}
    %script{"src" => "/assets/javascript/main.js.coffee"}
    
